.LoadingMask {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;

  .error-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
  }
}