.PostFormHost {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-direction: column;

  // .PostFormTitle {}

  .PostFormBody {
    display: flex;
    flex-direction: column;
    width: 450px;

    input {
      margin-bottom: 12px;
    }
  }
}