.TodoHeader {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  flex-shrink: 0;

  .TodoHeaderTitle {
    text-align: center;
    margin: 0 0 16px 0;
    font-size: 28px;
    color: #424242;
  }
}