.PostList {
  position: relative;
  min-height: 300px;

  .PostItem {
    margin-bottom: 30px;

    .PostTitle {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    .PostBody {
      text-align: justify;
    }
  }

  .PostListMask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    background-color: rgba(0,0,0, 0.3);

    .PostListMaskText {
      display: inline-block;
      margin-top: 120px;
    }
  }
}